{{#if page.title '===' 'About Us'}}
<aside class="page-sidebar">
	<div class="banners page-bottom-banner">
		<div class="banner">
			<!-- banner content code goes here -->
			<h2 style="border: 0; color: ">This is a test banner</h2>
			<p>More test info</p>
		</div>
	</div>
</aside>
{{else if page.title '===' 'Cell Signal Strength'}}
<aside class="page-sidebar">
	<div class="banners page-bottom-banner">
		<div class="banner">
			<!-- banner content code goes here -->
		</div>
	</div>
</aside>
{{/if}}
