// =============================================================================
// TAGS (Settings)
// =============================================================================


$tag-fontSize:                      18px;
$tag-color:                         #333333;
$tag-color-hover:                   #000000;
$tag-paddingVertical:               7px;
$tag-paddingHorizontal:             10px;
$tag-padding:                       $tag-paddingVertical $tag-paddingHorizontal;
$tag-textDecoration:                none;
$tag-content:                       "#";
$tag-background:					#e8e8e8;
$tag-background-hover:				#d4d4d4;
