<div class="pagination-sortbox">
	<div class="sortbox">
		{{> components/products/filter sort=pagination.category.sort}}
	</div>
	<div class="change-prodlist">
		<div class="change-item">
			<a href="#" class="change-list{{#if theme_settings.product_list_display_mode '===' 'list'}} active-prods{{/if}}"></a>
		</div>
		<div class="change-item">
			<a class="change-grid{{#if theme_settings.product_list_display_mode '===' 'grid'}} active-prods{{/if}}"></a>
		</div>
	</div>
</div>
<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{else}}
        {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{/if}}
</form>
{{> components/common/paginator pagination.category}}
