<section class="productCarousel"
    data-slick='{
        "dots": true,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "responsive": [
            {
                "breakpoint": 1200,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 5
                }
            },
            {
                "breakpoint": 980,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 4
                }
            },
            {
                "breakpoint": 768,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 3
                }
            },
            {
                "breakpoint": 400,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 2
                }
            }
        ]
    }'
>
    {{#each products}}
    <div class="productCarousel-slide product">
        {{> components/products/card theme_settings=../theme_settings customer=../customer}}
    </div>
    {{/each}}
</section>
