<!-- <div class="promo-panel-outer">
	<div class="promo-panel-inner">
        <img src="{{cdn 'assets/img/promo-panel-1-years.png'}}" alt="Powerful Signal has been in business over 10 years" />
        <img src="{{cdn 'assets/img/promo-panel-2-partner.png'}}" alt="Powerful Signal is Wilson Electronics' most experienced partner" />
        <img src="{{cdn 'assets/img/promo-panel-3-support.png'}}" alt="Powerful Signal offers lifetime support on all systems it sells" />
        <img src="{{cdn 'assets/img/promo-panel-4-installation.png'}}" alt="Powerful Signal offers nationwide installation" />
    </div>
</div> -->
