<nav class="navPages">
    <div class="mobile-overlay"></div>
    <div class="navPages-main-content">
        <div class="mobile-top">
            <div class="user-links">
                {{#if customer}}
                <a href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                    <a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                {{else}}
                    <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                    {{#if settings.account_creation_enabled}}
                        <a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                    {{/if}}
                {{/if}}
            </div>
            <div class="mobile-nav-close">
                <a href="#" class="mobileMenu-toggle is-open" data-mobile-menu-toggle="menu" aria-controls="menu" aria-expanded="true">
                    <span class="mobileMenu-toggleIcon">Toggle menu</span>
                </a>
            </div>
        </div>
        <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
            {{#each categories}}
                <li class="navPages-item">
                {{#if ../theme_settings.navigation_design '===' 'simple'}}
                    {{> components/common/navigation-list}}
                {{/if}}
                {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                    {{> components/common/navigation-list-alternate}}
                {{/if}}
                </li>
            {{/each}}
            {{#unless theme_settings.hide_content_navigation}}
                {{#each pages}}
                <li class="navPages-item">
                    {{#if ../theme_settings.navigation_design '===' 'simple'}}
                            {{> components/common/pages-navigation-list}}
                    {{/if}}
                    {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                        {{> components/common/pages-navigation-list-alternate}}
                    {{/if}}
                </li>
                {{/each}}
            {{/unless}}
        </ul>
        <ul class="navPages-list navPages-list--user">
            {{#if settings.gift_certificates_enabled}}
                <li class="navPages-item">
                    <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
                </li>
            {{/if}}
            {{#if theme_settings.product_list_display_mode '==' 'list'}}
                <li class="navPages-item">
                    <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</span></a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/user-management/">{{lang 'account.nav.user_management'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/shopping-lists/">shopping_lists</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
                </li>
            {{/if}}
            {{#if theme_settings.social_icon_placement_top}}
                <li class="navPages-item">
                    {{> components/common/social-links}}
                </li>
            {{/if}}
        </ul>
    </div>
</nav>
