<div class="sidebar-content">
	<h2>Need More Info?</h2>
	<h3>Call: <a class="phone" style="color:inherit" href="tel:+1-866-912-3444">866-912-3444</a></h3>
	<p>
		<a href="/professional-design-install/free-custom-quote/">
			<img src="/product_images/uploaded_images/custom-quote-panel.png" alt="Quick Custom Quote"/>
		</a>
	</p>
	<h3>See What Our Customers Say:</h3>
    	<div style="text-align: center;">
		    <a href="https://www.shopperapproved.com/reviews/powerfulsignal.com/" class="shopperlink">
                <img src="//www.shopperapproved.com/newseals/24837/103951-stats.gif" style="border: 0;" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" />
            </a>
            <script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = '//www.shopperapproved.com/seals/certificate.js'; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script>
    	</div>
	<p style="padding-bottom: 1rem;">
		<a href="https://www.facebook.com/cellsignalboosters/" target="_blank">
			<img src="/product_images/uploaded_images/fb-find-us-on-facebook-online.png" alt="Find us on Facebook facebook.com/cellsignalboosters"/>
		</a>
	</p>
	<p style="padding-bottom: 1em;">
		<a href="/professional-design-install/free-floor-plan-analysis/" target="_blank">
			<img src="/product_images/uploaded_images/floor-plan-analysis-left-banner.jpg" alt="Free floor plan analysis for a passive DAS or public safety communications solution">
		</a>
	</p>
	<p style="padding-bottom: 1em;">
		<a href="/public-safety/" target="_blank">
			<img src="/product_images/uploaded_images/public-safety-left-banner.jpg" alt="Receive a free custom quote on an in-building public safety communications system">
		</a>
	</p>
	<p style="padding-bottom: 1em;">
		<a href="/professional-design-install/proway-solutions/lifetime-support/" target="_blank">
			<img src="/product_images/uploaded_images/lifetime-badge-2.png" alt="Powerful Signal has been providing lifetime support for over 10 years, since 2007">
		</a>
	</p>
</div>
